# Systemd unit file for tomcat instances.
#
# To create clones of this service:
# 0. systemctl enable tomcat@name.service
# 1. create catalina.base directory structure in
#    /var/lib/tomcats/name
# 2. profit.

[Unit]
Description=Apache tomcat {{ tomcat_name }} Web Application Container
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/app/{{ tomcat_name }}/conf/tomcat.conf
Environment="NAME=%I"
EnvironmentFile=-/etc/sysconfig/tomcat@%I
ExecStart=/etc/systemd/system/{{ tomcat_name }}.service start
ExecStop=/etc/systemd/system/{{ tomcat_name }}.service stop
SuccessExitStatus=143
User=tomcat
Group=tomcat

[Install]
WantedBy=multi-user.target
